!artifacts/

# Ignore Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environments
venv/
env/
.venv/

# Ignore notebooks
notebooks/
*.ipynb

# Ignore logs
logs/
*.log

# Ignore git
.git/
.gitignore

# Ignore OS files
.DS_Store
Thumbs.db

# Ignore IDE/editor configs
.vscode/
.idea/

# Ignore build artifacts
dist/
build/
*.egg-info/


# Ignore API-only files
src/api/
